absl-py==1.2.0
appnope==0.1.3
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
beautifulsoup4==4.11.1
bert-serving==0.0.1
bert-serving-client==1.10.0
blis==0.7.8
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
cymem==2.0.6
Cython==0.29.32
decorator==5.1.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
executing==0.9.1
filelock==3.7.1
flatbuffers==1.12
gast==0.4.0
gensim==4.2.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
huggingface-hub==0.8.1
idna==3.3
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.12.0
ipython==8.4.0
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.1.2
joblib==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
libclang==14.0.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
murmurhash==1.0.7
networkx==2.8.5
nltk==3.7
numpy==1.23.1
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
parso==0.8.3
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
preshed==3.0.6
prompt-toolkit==3.0.30
protobuf==3.19.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
regex==2022.7.25
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.1
scipy==1.9.0
segtok==1.5.11
sent2vec @ file:///Users/maksimchowdhary/Desktop/Coding/Question_duplicate_detection/src/Keyword-extraction/Unsupervised_keyphrase_extraction_CoTagRank_ECIR_2022/sent2vec/src
sentence-transformers==2.2.2
sentencepiece==0.1.96
six==1.16.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
spacy-stanfordnlp==0.1.3
srsly==2.4.4
stack-data==0.3.0
stanfordnlp==0.2.0
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-macos==2.9.2
termcolor==1.1.0
thinc==8.1.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.12.0
torchvision==0.13.0
tqdm==4.64.0
traitlets==5.3.0
transformers==4.21.0
typer==0.4.2
typing_extensions==4.3.0
Unidecode==1.3.4
urllib3==1.26.11
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.2.1
wikipedia==1.4.0
wrapt==1.14.1
yake==0.4.8
zipp==3.8.1
